* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  border: 5px solid blue;
}
.arrow-vetical {
  width: 3px;
  height: 10px;
  background-color: black;
  position: absolute;
  display: flex;
}
.arrow-horizontal {
  width: 10px;
  height: 3px;
  background-color: black;
  position: absolute;
}
.arrow-15 {
  top: 50%;
  right: 0px;
}
.arrow-60 {
  top: 0px;
  left: 50%;
}

.arrow-30 {
  bottom: 0px;
  left: 50%;
}
.arrow-45 {
  top: 50%;
  left: 0px;
}

.arrow-45::after {
  content: "45";
  position: absolute;
  top: -15px;
  left: 12px;
  font-size: 26px;
}
.arrow-60::after {
  content: "60";
  position: absolute;
  top: 12px;
  left: -10px;
  font-size: 26px;
}
.arrow-30::after {
  content: "30";
  position: absolute;
  bottom: 12px;
  left: -10px;
  font-size: 26px;
}
.arrow-15::after {
  content: "15";
  position: absolute;
  bottom: -15px;
  right: 10px;
  font-size: 26px;
}
.main-arrow {
  width: 3px;
  height: 50%;
  background-color: red;
  position: absolute;
  top: 3px;
  left: 50%;
  transform-origin: center 100%;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: timer;
  animation-timing-function: linear;
}
@keyframes timer {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
